################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/engine/dcu
*.dcu
*.res
*.exe
*.apk
*.so
/engine/Lib/Array/__history
/engine/Lib/Jansen/__history
/engine/Lib/Render/__history
/engine/Package/__history
/engine/Projects/ThundaxJansenMechanism/__history
/engine/Projects/ThundaxTDPEDemo/__history
/engine/Lib/Collisions/__history
/engine/Lib/colors/__history
/engine/Lib/Log/__history
/engine/Lib/particles/__history
/engine/Lib/structures/Automation/__history
/engine/Lib/structures/compositions/__history
/engine/Lib/structures/General/__history
/engine/Lib/Styles/__history
/engine/Projects/ThundaxTDPEDemo/out/TDPEDemo/bin
/engine/Projects/ThundaxTDPEDemo/out/TDPEDemo/classes
/engine/Projects/ThundaxTDPEDemo/out/TDPEDemo/debug
/engine/Projects/TDPE.FMX.Jansen/Android/Debug
